.contactList {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 20px;
  }
  
  .contactList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contactList .contactName {
    margin-right: 10px;
  }
  
  .contactList .contactListItemBtn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .contactList .contactListItemBtn:hover {
    background-color: #d32f2f;
  }
  
  .noPadding {
    padding: 0;
  }